extends layout

block content
      div.w3-card-4.w3-container.w3-blue(style='margin-bottom: 50px')
        h3.w3-center MY ACCOUNT
      div.w3-cell-row
        div.w3-container.w3-cell.w3-mobile(class= "w3-col s7")
          div.w3-card-4
            header.w3-container.w3-blue
              h3.w3-center MY RESOURCES
               button.w3-btn.w3-right(onclick="window.location.assign('/resources/new')" class='fa fa-plus') 
            if resources.length > 0 
              div(style="overflow-y: scroll; max-height: 80vh") 
               div.w3-responsive
                  table.w3-table-all
                    tr 
                      th Title
                      th Type
                      th Register Date
                      th Creation Date
                      th Points
                    each r in resources
                      tr
                       if r.author == users.username
                        td
                          adress 
                              a(href=`/resources/${r._id}`) #{r.title}
                        td= r.typeR
                        td= r.regDate
                        td= r.creDate
                        td= r.totalP
                          button.w3-btn.w3-right(onclick="deleteRes('" + r._id + "')" class='fa fa-close') 
                          a.w3-btn.w3-right(onclick=`window.location.assign('/resources/edit/${r._id}')` class='fa fa-edit')
            else
                .w3-container
                  p There are no resources...
        div.w3-container.w3-cell.w3-mobile(class= "w3-col s5")
          div.w3-card-4
            header.w3-container.w3-blue
                h3.w3-center MY PROFILE
                    button.w3-btn.w3-right(onclick=`window.location.assign('/users/edit/${users._id}')` class='fa fa-edit')

            div.w3-responsive
                 table.w3-table-all
                    tr 
                      th  Name
                      td= users.name
                    tr   
                      th  Mail
                      td= users.email
                    tr  
                      th  Username
                      td= users.username
                    tr   
                      th  Location
                      td= users.location
                    tr   
                      th  Department
                      td= userDep.designation
                    tr   
                      th  Course
                      td= userCourse.designation
                    tr   
                      th  Number of Resources
                      td= n
           

