extends layout

block content
    .w3-container.w3-blue
        h3 Register Page:
    form.w3-container(action='register' method='POST')
        label(style="padding-top:10px") Name:
        input.w3-input(type="text" name="name")
        label Username:
        input.w3-input(type="text" name="username")
        label Email:
        input.w3-input(type="text" name="email")
        label Password:
        input.w3-input(type="password" name="password")
        label Location:
        input.w3-input(type="text" name="location")
        label Department:
        select.w3-select(id="department" name='department' style="margin-top: 10px; margin-bottom: 10px")
            each d in departs
                option(value=d.id name=d.designation onclick=`reg_setDepartFilter(\'${d.id}\', \'${d.designation}\'); reg_setDepartCourses(\'${d.courses.map(c => c.designation)}\')`) #{d.designation}
        label Course:
        select.w3-select(id="course" name='course')
            each c in courses
                option(value=c.id name=c.designation onclick=`reg_setCourseFilter(\'${c.id}\', \'${c.designation}\')`) #{c.designation}
        input.w3-btn.w3-blue(type="submit" value="SUBMIT" style="margin-left:10px; margin-top:10px")
        p= error