extends ../layout

block content
  .w3-modal(style='display:block;')
    .w3-modal-content.w3-card-4
      header.w3-container.w3-blue.w3-card-4.w3-center
        h3 Edit #{resource.title}
      .w3-container.w3-margin.w3-padding.w3-section
      
        form.w3-container(action=`/resources/edit/${resource._id}` method='POST')
          br
          label Title:
          input.w3-input.w3-border(type="text" name="title" value=resource.title)
          br
          label(for='typeR') Type:
          br
          br 
          select.w3-select#typeR(name='typeR')
            each t in types
              option(value=t.type) #{t.type}
          br
          br
          label Creation Date:
          input.w3-input.w3-border(type="date" name="creDate" value=resource.creDate)
          br
          label Description:
          input.w3-input.w3-border(type="text" name="description"  value=resource.description)
          br
          label(for='visibility') Visibility: 
          br
          br
          select.w3-select#visibility(name='visibility' value=resource.visibility)
              option(value='Public') Public
              option(value='Private') Private
          br
          br
          button.w3-btn.w3-right.w3-blue(type="submit" value="Submit" style="margin-left:10px; margin-top:10px") CONFIRM
          a.w3-btn.w3-right.w3-blue(onclick="window.location.assign('/myaccount')" style="margin-left:10px; margin-top:10px") CANCEL  
