extends ../layout

block content
   div.w3-container.w3-cell.w3-mobile(class= "w3-col s12" style='margin-bottom: 50px; margin-top: 20px;')
      div.w3-card-4
          header.w3-container.w3-blue
              h3.w3-center Resource
          if res
             table.w3-table-all
                tr 
                  th Title
                  th Type
                  th Register Date
                  th Creation Date
                  th Author
   
                tr
                  td= res.title
                  td= res.typeR
                  td= res.creDate
                  td= res.regDate
                  td= res.author
          else
              .w3-container
                p There are no resource...
       
   div.w3-container.w3-cell.w3-mobile(class= "w3-col s7")
     div.w3-card-4
         header.w3-container.w3-blue
             h3.w3-center Comments
         div.w3-responsive
             table.w3-table-all
                tr
                  th Description
                  th Date
                  th Author

                each r in res.comments
                 tr
                    td= r.description
                    td= r.date
                    td= r.author
                    td
                     if userLog == r.author || userLog == res.author
                       form.w3-container(action=`/resources/${res._id}/deleteComment/${r._id}` method='POST')
                         button.w3-btn.w3-right(type="submit" class='fa fa-close')
   div.w3-container.w3-cell.w3-mobile(class= "w3-col s5") 
     div.w3-card-4
         header.w3-container.w3-blue
             h3.w3-center Add Comment
         div.w3-container(style='padding: 12px; margin-bottom: 50px;')
             form.w3-container(action=`/resources/${res._id}/addComment` method='POST')
               br
               input.w3-input.w3-grey(type="text" name="description")
               br
               input.w3-btn.w3-right.w3-dark-grey(type="submit" value="Comment" style="margin-left:10px; margin-top:10px;margin-bottom:10px")
     
     div.w3-card-4
         header.w3-container.w3-blue
             h3.w3-center Cena de atribuir pontos/estrelas
         div.w3-container(style='padding: 16px')
             form.w3-container(action=`/resources/${res._id}/addComment` method='POST')
               br
               input.w3-input.w3-grey(type="text" name="description")
               br
               input.w3-btn.w3-right.w3-dark-grey(type="submit" value="Comment" style="margin-left:10px; margin-top:10px;margin-bottom:10px")