extends ../layout

block content
    .w3-card-4
      header.w3-container.w3-blue
        h3 Resources
          button.w3-btn.w3-white.w3-right.w3-medium( onclick="window.location.assign('/resources/new')") New
      if resources.length > 0
           table.w3-table-all
             tr 
               th Title
               th Type
               th Register Date
               th Creation Date
               th Author
             each r in resources
               tr
                if r.visibility == "Public" || r.author == user
                 td
                   adress 
                       a(href=`/resources/${r._id}`) #{r.title}
                 td= r.typeR
                 td= r.regDate
                 td= r.creDate
                 td= r.author  
      else
          .w3-container
            p There are no resources...
