extends ../layout

block content
    .w3-card-4
      header.w3-container.w3-blue
        h3.w3-center RESOURCES
          button.w3-btn.w3-white.w3-right.w3-medium(onclick="window.location.assign('/resources/new')") New
      br
      if resources.length > 0
        .w3-container(id="searchBox" style="margin-bottom: 40px")
          div.checkbox-inline(style="margin-bottom: 20px; width: 30%; float: left")
            h4 Search
            input.w3-input(type="text" id="search" onkeyup="filterResources()" placeholder="Search resource title.." title="Type in a resource")
          div.checkbox-inline(id="types" style="margin-bottom: 20px; width: 65%; float: right")
            h5 Accepted Types:
            each t in resourceTypes
              input(id=`${t.toString().toLowerCase()}` type="checkbox" name=`${t}` value="" onclick="filterByType()" checked)
              label(for=`${t.toString().toLowerCase()}`)  #{t}   
        .w3-card-4
          header.w3-container.w3-blue
            h4.w3-center PUBLIC RESOURCE LIST
          div(style="overflow-y: scroll; max-height: 67vh")        
           table(id="resourceTable").w3-table-all
             tr 
               th(class="clickable" onclick="sortByName()") Title
               th Type
               th(class="clickable" onclick="sortByDate(2)") Creation Date
               th Author
               th(class="clickable" onclick="sortByPoints()") Points
             each r in resources
               tr
                 if r.visibility == "Public" || r.author == user
                   td
                     adress 
                       a(href=`/resources/${r._id}`) #{r.title}
                   td= r.typeR
                   td= r.creDate
                   td= r.author 
                   td= r.totalP
      else
          .w3-container
            p There are no resources...
